<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <%= link_to "ログアウト",session_path(current_user.id), method: :delete %>
  <% else %>
  <%= link_to "ログイン", new_session_path%>
  <% end %>
    <%= yield %>
    <%= debug(params)%>
  </body>
</html>
